.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
}

.App-footer{
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
}


canvas {
  padding-left: 0;
  padding-right: 0;
margin: 0 auto;
  display: block;
}
svg {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.chart{
  min-height: 300px;
  max-height: 300px;
}

.slider{
 margin-top: 20px;
 width:30vw !important;
 margin: 0 auto;
 top: 0 !important;
}


@media screen and (max-width: 768px){
.slider{
  width:70vw !important;;
}
  .box{
    padding-top:50px;
    width: 90vw;
  }
}

