@font-face {
  font-family: 'Staatliches';
  src: url('./assets/Staatliches-Regular.ttf');
     
}

.app {
  
  text-align: center;
  background: rgb(240,240,240);
}

.app h2, .app h4{
  font-family: "Staatliches";
}

.parcoords{
  font-family: "Staatliches" !important;
}

.appHeader {
  background-color: #282c34;

  font-size: calc(2px + 2vmin);
  color: white;
}

.appFooter{
  background-color: #282c34;

  font-size: calc(2px + 2vmin);
  color: white;
}



canvas {
  padding-left: 0;
  padding-right: 0;
margin: 0 auto;
  display: block;
}
svg {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}



.slider{
 margin-top: 20px;
 width:30vw !important;
 margin: 0 auto;
 top: 0 !important;
}

.custom-badge{
  min-width: 21px !important;
}

.badge-color{
  background: #dc3545;
  color: white;
  font-family: "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}



.studentList{
  overflow: scroll;
  height: 370px;
  list-style: none;
  width: 80%;
  padding: 0px;
  background: white;
}

.studentList li{
  padding: 8px;
  background: rgb(216, 214, 214);
  cursor: pointer;
}

.studentList li:hover{
  background:rgb(226, 83, 83);
  color: white;
  font-weight: bolder;
}

.studentList li:focus{
  background:rgb(226, 83, 83);
  color: white;
  font-weight: bolder;
}

@media screen and (max-width: 768px){
.slider{
  width:70vw !important;;
}
  .box{
    padding-top:50px;
    width: 90vw;
  }
}

